@import "../utils/mixins";
@import "../utils/variables";

.projects {
  .projects-title {
    animation-delay: 0.1s;
  }
  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    padding: 0 48px;
    @include for-mobile-landscape {
      padding: 0;
    }
    gap: 48px;
    place-items: center;
    div {
      &:hover {
        &:nth-child(odd) .project {
          box-shadow: #00c0fd 0px 0px 15px;
        }
        &:nth-child(even) .project {
          box-shadow: #e70faa 0px 0px 15px;
        }
      }
    }
    .project {
      max-width: 300px;
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
      animation: title-loading 0.4s 0.3s;
      opacity: 0;
      animation-fill-mode: forwards;
      cursor: pointer;

      @include easeTransition(0.2s);
      .image-container {
        min-height: 40%;
        img {
          max-width: 100%;
          height: 100%;
          border-radius: 12px 12px 0 0;
        }
      }
      .project-summary {
        padding: 18px 28px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        .project-info {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .project-description,
          .project-stack {
            font-size: 14px;
          }
          .project-description {
            height: 80px;
            overflow: scroll;
            color: $content-lightmode;
            &::-webkit-scrollbar {
              display: none;
            }

            & {
              -ms-overflow-style: none;
              scrollbar-width: none;
            }
          }
          .project-stack {
            min-height: 46px;
            span {
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
      .links-container {
        display: flex;
        justify-content: space-between;
        .codelink {
          color: #111;
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 14px;
          @include easeTransition(0.2s);
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
