//!------Colors ---------
$button-green: #018c0f;
//*------dark-mode---------
$dark-mode: #191919;
$title-darkmode: #cccccc;
$content-darkmode: #cccccc;
//*------light-mode---------
$title-lightmode: #42446e;
$content-lightmode: #666666;
$mainWhite: #ffffff;

$gradient: linear-gradient(270deg, rgba(231, 15, 170, 1) 0%, rgba(0, 192, 253, 1) 100%);
$scrollbar-gradient: linear-gradient(0deg, rgba(231, 15, 170, 1) 0%, rgba(0, 192, 253, 1) 100%);
//!------Font size---------
$xs: 16px;
$s: 18px;
$l: 32px;
$xl: 48px;
